.yltv-current-time {
  font-size: 109%;
}

.yltv-start-time {
  margin-left: 8px;
  white-space: nowrap;
}

.ytp-tooltip
  > .ytp-tooltip-text-wrapper
  > .ytp-tooltip-bottom-text
  > .yltv-tooltip.ytp-tooltip-text {
  margin-left: 5px;
}
