.yltv-current-time {
  font-weight: 400;
  margin-left: 8px;
}

.yltv-start-time {
  margin-left: 8px;
  white-space: nowrap;
}

.yltv-tooltip {
  font-weight: 400;
  margin-left: 4px;
}

.ytp-time-display > .ytp-time-wrapper {
  /* biome-ignore lint/complexity/noImportantStyles: false positive */
  display: flex !important;
}
